
	body {
		/*background-color: yellow;*/
		color: gray;
		background-image: url(../images/line.png);
	}
	
	
	strong {
		font-style: italic;
	}
	

	/*
	p {
		color:red;
	}
	h1, h2, h3, h4, h5, h6 {
		color:green;
    }
		*/
	  

	
	
